.scrollToTop {
    background-color: #ffa500;
    color: #fff;
}


/*#ffa500*/

.scrollToTop:hover,
.scrollToTop:focus {
    color: #ffa500;
    border-color: 1px solid #ffa500;
}

.navbar-brand span {
    color: #ffa500;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ffa500;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffa500;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #ffa500;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #ffa500;
}

.testimonial_content blockquote:before {
    background-color: #ffa500;
}

.service_icon:hover {
    color: #ffa500;
}

.read_more:hover {
    color: #ffa500;
    border-bottom: 1px dotted #ffa500;
}

.howworks_featured .media-left:hover {
    color: #ffa500;
}

.featured_btn:hover,
.featured_btn:focus {
    background-color: #ffa500;
    border: 1px solid #ffa500;
}

.price_badge {
    background: none repeat scroll 0 0 #ffa500;
}

.single_footer_top>h2:hover {
    color: #ffa500;
}

.single_footer_top ul li a:hover {
    color: #ffa500;
}

.contact_mail p>span,
.contact_mail p>a {
    color: #ffa500;
}

.single_footer_middle>h2:hover {
    color: #ffa500;
}

.social_nav li a:hover {
    border-color: #ffa500;
    color: #ffa500;
}

#banner h2 {
    color: #ffa500;
}

.imgedit_heading .panel-title>a {
    color: #ffa500;
}

.expand_icon {
    background-color: #ffa500;
}

.imgedit_panel .panel-default {
    border-color: #ffa500;
}

.imgedit_contactinfo p>a {
    color: #ffa500;
}

.term_cond_info>a {
    color: #ffa500;
}

.manual_btn {
    background-color: #ffa500;
}

.support_btn {
    background-color: #ffa500;
}

.submitphot_content>p>span {
    color: #ffa500;
}

.archiveblog_right>h2 {
    color: #ffa500;
}

.post_commentbox a:hover,
.post_commentbox span:hover {
    color: #ffa500;
}

.pagination li a {
    color: #ffa500;
}

.pagination li a:hover,
.pagination li a:focus {
    background-color: #ffa500;
}

.single_sidebar>h2 {
    border-bottom: 2px dashed #ffa500;
    color: #ffa500;
}

.single_sidebar ul li a:hover {
    color: #ffa500;
}

.catg_nav li>a:hover {
    color: #ffa500;
}

.tags_nav li a:hover,
.tags_nav li a:focus {
    background-color: #ffa500;
}

.archiveblog_right ul li:before {
    background-color: #ffa500;
}

.archiveblog_right h1,
.archiveblog_right h3,
.archiveblog_right h4,
.archiveblog_right h5,
.archiveblog_right h6 {
    color: #ffa500;
}

.previous_nav {
    border: 1px solid #ffa500;
    color: #ffa500;
}

.next_nav {
    border: 1px solid #ffa500;
    color: #ffa500;
}

.next_nav:hover,
.previous_nav:hover {
    background-color: #ffa500;
}

.slick-dots li.slick-active button:before {
    border: 2px solid #ffa500;
}

.price_nav li:hover .price_heading {
    background-color: #ffa500;
}

.price_nav li:hover .price_img_inner {
    border: 2px solid #ffa500;
}

.price_nav li:hover .price_img_inner {
    border: 2px solid #ffa500;
}

.price_nav li:hover .price_count {
    background-color: #ffa500;
}

.price_nav li:hover .get_button {
    background-color: #ffa500;
    border-color: #ffa500;
}

.slides-pagination a {
    border: 2px solid #ffa500;
}

.slider_caption>h2 span {
    color: #ffa500;
}

.slider_btn {
    border: 1px solid #ffa500;
}

.slider_btn:hover,
.slider_btn:focus {
    color: #ffa500;
}

.slick-slide:hover .team_name {
    color: #ffa500;
}

.team_social a:hover {
    color: #ffa500;
    border-color: #ffa500;
}

.wpcf7-submit {
    background-color: #ffa500;
}

.wpcf7-submit:hover {
    background-color: #fff;
    color: #ffa500;
    border: 1px solid #ffa500;
}

.similar_post h2>i {
    color: #ffa500;
}