#labelarquivo {
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding: 15px 5px;
    width: 100%;
}


/*
#arquivoTXT {
    display: none;
}
*/

#triangulo {
    float: right;
}

.botao_campanha {
    border: 0px;
    background-color: white;
    color: green;
}

.botao_campanha:hover {
    font-weight: bold;
}

.form-actions {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 0;
}