.corpo_pag {
    background-color: #fff;
}


/* ----- VISUALIZAÇÃO ----- */

#painel-visualizacao {
    margin-top: 20px;
    background-color: #FFF;
}

#campanhas {
    margin-top: 10px;
    float: left;
}

#tabela-visualizacao {
    width: 60%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.icones-visualizacao {
    font-size: 50px;
}

.valor-visualizacao {
    font-size: 25px;
}

.col-visualizacao1 {
    color: blue;
    width: 120px;
}

.col-visualizacao2 {
    color: green;
    width: 120px;
}

.col-visualizacao3 {
    color: red;
    width: 120px;
}


/* ----- OPERACAO ----- */

.tabela-operacao {
    /* border: 1px solid red;*/
    width: 100%;
    height: 100px;
    text-align: center;
    font-weight: bold;
}

.icones-operacao {
    width: 50px;
    text-align: center;
    font-size: 20px;
    color: black;
}

#icone-message-group {
    height: 60px;
    width: 60px;
}

#icone-acompanhamento {
    margin: 25px;
}

#icone-bloqueio {
    margin: 25px;
}


/* ----- RODAPE ----- */

footer {
    background: gray;
    position: fixed;
    bottom: 0;
    padding-top: 5px;
    width: 100%;
    margin-top: 20px;
}

#logosms_rodape {
    max-height: 30px;
    width: auto;
    float: left;
}

.texto-rodape-central {
    padding: 10px;
}