.caixa_formulario {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 0 0 6px 6px;
    padding: 20px;
    padding-bottom: 1px;
    background-color: white;
    display: inline-block;
    margin-bottom: 70px;
    width: 100%;
}

#titulo_caixa {
    text-align: center;
    color: white;
    display: block;
    background-color: #666;
    padding: 3px 0;
    margin-top: 20px;
    border-radius: 6px 6px 0 0;
}

.espacamento {
    padding: 5px;
}

.botao_envio {
    float: right;
    clear: all;
    border: 0px;
    background-color: white;
    color: green;
    margin-bottom: 3px;
}

.botao_envio:hover {
    font-weight: bold;
}

.botao_envio_icone {
    font-size: 2em;
    padding: 2px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}