#tabela-lista-campanhas {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.cabecalho-tabela {
    font-weight: bold;
}

#glyphicon-remove-circle {
    text-align: center;
    color: red;
}