/*Cor do fundo da tela */

body {
    background-color: #eee;
}


/*Barra superior e Logo */

.barra_sup {
    border-bottom: 1px groove #ffa500;
    background-color: #fff;
}

#logosms {
    max-height: 60px;
    width: auto;
    float: left;
    margin: 10px;
}

#textologo {
    font-size: 2em;
    position: relative;
    top: 10px;
}


/*Navegação */

#menu ul {
    float: right;
}

#menu ul li {
    padding: 30px 5px;
    margin: 0;
    display: inline-block;
}


/* ----- LINKS  ----- */


/*Não visitados*/

#menu ul li a {
    text-decoration: none;
    color: black;
    padding: 15px 10px;
}


/*Visitados*/


/*Hover*/

#menu ul li a:hover {
    /*border-bottom: 1px solid black;*/
    color: #fff;
    background: #ffa500;
    border-radius: 10px;
    /*#ffa500*/
}


/*Ativos*/

#menu ul li a:active {
    color: #fff;
    background: #ffa500;
}

iframe {
    width: 100%;
    border: 0;
}