.painel-cabecalho {
    text-align: center;
    background-color: #D3D3D3;
    font-weight: bold;
    margin-top: 3px;
}

.painel-body {
    background-color: white;
    text-align: left;
    border: 1px solid black;
}

#tabela-gateway {
    padding: 8px 8px;
    font-size: 11px;
    margin: 85px 5px;
    margin-right: 10px;
}

#tabela-gateway td {
    padding: 10px 10px;
}

.col-bordered {
    border: 1px solid black;
}