<form method="post" action="cadastro_campanha.php" enctype="multipart/form-data">
    <label>Arquivo</label>
    <input type="file" name="arquivoTXT" />
    <br>
    <input type="submit" value="Enviar" />
</form>